Repository voila-dashboards/voila: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: yarn run prettier
  language: node

eslint:
  name: eslint
  entry: yarn run eslint
  language: node

add get_page_config hook
  voila/app.py
  voila/handler.py
  voila/tornado/treehandler.py
  voila/utils.py
  voila/voila_kernel_manager.py
Due: none

remove url param
  voila/handler.py
Due: none

remove unused conf param
  voila/configuration.py
Due: none

add path to conf page
  voila/app.py
  voila/handler.py
  voila/tornado/treehandler.py
  voila/utils.py
  voila/voila_kernel_manager.py
Due: none

Working version
  packages/voila/package.json
  packages/voila/src/index.ts
  packages/voila/src/manager.ts
  packages/voila/style/index.css
  share/jupyter/voila/templates/base/static/main.js
  yarn.lock
Due: prettier, eslint

Linter
  packages/voila/src/index.ts
  packages/voila/style/index.css
Due: prettier, eslint

Update ui-test
  ui-tests/tests/voila.test.ts
Due: prettier, eslint

Fix ui-tests
  ui-tests/tests/voila.test.ts
Due: prettier, eslint

use the hook to modify the default get_page function
  voila/app.py
  voila/handler.py
  voila/tornado/treehandler.py
  voila/utils.py
  voila/voila_kernel_manager.py
Due: none

Fix ui-tests for both ipywidgets 7 and 8
  ui-tests/tests/voila.test.ts
Due: prettier, eslint

Fix CI
  .github/workflows/check-release.yml
  .github/workflows/packaging.yml
  .github/workflows/ui-tests.yml
Due: none

Update setup python
  .github/workflows/main.yml
  .github/workflows/packaging.yml
Due: none

Try
  .github/workflows/main.yml
Due: none

Try something else
  .github/workflows/packaging.yml
Due: none

Auto cancel workflows for new commits
  .github/workflows/build.yml
  .github/workflows/check-release.yml
  .github/workflows/main.yml
  .github/workflows/packaging.yml
  .github/workflows/ui-tests.yml
Due: none

Update and improve CI (#1497)
  .github/workflows/build.yml
  .github/workflows/check-release.yml
  .github/workflows/main.yml
  .github/workflows/packaging.yml
  .github/workflows/ui-tests.yml
Due: none

Fix default mathjax url
  packages/voila/src/tools.ts
  ui-tests/package.json
  voila/utils.py
Due: prettier, eslint

Bump ipywidgets
  packages/voila/package.json
  yarn.lock
Due: prettier

Bring back support for jupyter-server 1
  pyproject.toml
  voila/app.py
Due: none

Add ui-tests with jupyter-server 1
  .github/workflows/ui-tests.yml
Due: none

Fix visual regression dependencies
  requirements-visual-test.txt
Due: none

More visual regression fixes
  ui-tests/tests/voila.test.ts
Due: prettier, eslint

Bring back support for jupyter-server 1 (#1498)
  .github/workflows/ui-tests.yml
  pyproject.toml
  requirements-visual-test.txt
  voila/app.py
Due: none

Yarn f***** dedupe
  yarn.lock
Due: none

Fix mathjax default url and bump ipywidgets packages (#1496)
  packages/voila/package.json
  packages/voila/src/tools.ts
  ui-tests/package.json
  ui-tests/tests/voila.test.ts
  voila/utils.py
  yarn.lock
Due: prettier, eslint

wip
  packages/voila/src/plugins/widget/index.ts
  share/jupyter/voila/templates/base/skeleton.macro.html.j2
  share/jupyter/voila/templates/base/spinner.macro.html.j2
  share/jupyter/voila/templates/base/voila_setup.macro.html.j2
  share/jupyter/voila/templates/lab/index.html.j2
  voila/app.py
  voila/execution_request_handler.py
  voila/handler.py
  voila/notebook_renderer.py
  voila/request_info_handler.py
Due: prettier, eslint

Bump actions/upload-artifact
  .github/workflows/packaging.yml
  .github/workflows/ui-tests.yml
Due: none

Create render plugin
  packages/voila/src/app.ts
  packages/voila/src/plugins/widget/index.ts
  packages/voila/src/plugins/widget/manager.ts
  packages/voila/src/voilaplugins.ts
  voila/execution_request_handler.py
  voila/notebook_renderer.py
Due: prettier, eslint

Bump action
  .github/workflows/check-release.yml
  .github/workflows/packaging.yml
Due: none

Refactor plugins
  packages/voila/src/plugins/widget/index.ts
  packages/voila/src/plugins/widget/plugins.ts
  packages/voila/src/plugins/widget/tools.ts
  voila/execution_request_handler.py
Due: prettier, eslint

Add progressive rendering flag
  packages/voila/src/plugins/widget/plugins.ts
  packages/voila/src/plugins/widget/tools.ts
  voila/app.py
  voila/configuration.py
  voila/execution_request_handler.py
  voila/utils.py
Due: prettier, eslint

Disable kernel message
  packages/voila/src/plugins/widget/plugins.ts
  packages/voila/src/plugins/widget/tools.ts
  voila/app.py
  voila/execution_request_handler.py
  voila/tornado/kernelwebsockethandler.py
Due: prettier, eslint

Simplify template
  packages/voila/src/plugins/widget/plugins.ts
  packages/voila/src/plugins/widget/tools.ts
  share/jupyter/voila/templates/base/voila_setup.macro.html.j2
  share/jupyter/voila/templates/lab/index.html.j2
  voila/app.py
  voila/handler.py
  voila/notebook_renderer.py
  voila/tornado/execution_request_handler.py
  voila/utils.py
Due: prettier, eslint

Update macos runner
  .github/workflows/packaging.yml
  voila/tornado/execution_request_handler.py
Due: none

Update for reveal template
  share/jupyter/voila/templates/base/skeleton.macro.html.j2
  share/jupyter/voila/templates/base/spinner.macro.html.j2
  share/jupyter/voila/templates/lab/index.html.j2
  voila/app.py
  voila/notebook_renderer.py
  voila/server_extension.py
  voila/tornado/kernel_websocket_handler.py
Due: none

Update typing
  voila/tornado/execution_request_handler.py
Due: none

Add unit tests
  tests/app/conftest.py
  tests/app/progressive_rendering_activation_test.py
  tests/app/progressive_rendering_test.py
  voila/tornado/execution_request_handler.py
  voila/tornado/kernel_websocket_handler.py
Due: none

Add UI tests
  .github/workflows/ui-tests.yml
  .github/workflows/update_galata_references.yaml
  ui-tests/package.json
  ui-tests/tests/voila.test.ts
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-basics-classic-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-basics-dark-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-basics-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-basics-miami-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-bokeh-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-bqplot-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-gridspecLayout-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-interactive-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-ipympl-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-mimerenderers-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-multiple-widgets-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-query-strings-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-reveal-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-voila-tree-classic-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-voila-tree-dark-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-voila-tree-light-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-voila-tree-miami-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-yaml-linux.png
  ui-tests/voila-benchmark-expected.json
  voila/app.py
Due: prettier, eslint

Update snapshots
  .github/workflows/ui-tests.yml
  ui-tests/playwright.config.js
  ui-tests/tests/voila.test.ts-snapshots/404-dark-linux.png
  ui-tests/tests/voila.test.ts-snapshots/404-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-basics-classic-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-basics-dark-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-basics-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-basics-miami-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-bokeh-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-bqplot-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-gridspecLayout-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-interactive-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-ipympl-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-mimerenderers-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-multiple-widgets-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-reveal-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-voila-tree-miami-linux.png
  ui-tests/voila-benchmark-expected.json
Due: prettier, eslint

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
