Repository voila-dashboards/voila: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

ci:
  # pre-commit.ci will open PRs updating our hooks once a month
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint]

repos:
  # Autoformat and linting, misc. details
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
        exclude: galata/.*-snapshots
      - id: check-case-conflict
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: .bumpversion.cfg

  # Autoformat: Python code
  - repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
      - id: black

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.292
    hooks:
      - id: ruff
        args: ['--fix']

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'yarn run prettier'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'yarn run eslint'
        language: node
        types_or: [ts, tsx, javascript, jsx]

Allow users to disable the fix_notebook call
  docs/customize.md
  docs/deploy.md
  voila/configuration.py
  voila/notebook_renderer.py
Due: none

Allow users to disable the fix_notebook call (#1423)
  docs/customize.md
  voila/configuration.py
  voila/notebook_renderer.py
Due: none

Add Discourse badge to the README
  README.md
Due: none

Add repository.url to `package.json`
  packages/voila/package.json
Due: prettier

Add Discourse badge to the README (#1430)
  README.md
Due: none

Add repository.url to `package.json` (#1431)
  packages/voila/package.json
Due: prettier

Update publish workflow for trusted publishers
  .github/workflows/publish-release.yml
Due: none

Update publish workflow for trusted publishers (#1434)
  .github/workflows/publish-release.yml
Due: none

Transform newly discovered strings into f-strings
  hatch_build.py
  tests/app/cgi-test.py
  tests/app/contents_handler_test.py
  tests/app/no_metadata.py
  tests/app/preheat_configuration_test.py
  tests/app/preheat_multiple_notebooks_test.py
  tests/app/show_traceback_test.py
  voila/app.py
  voila/notebook_renderer.py
  voila/server_extension.py
  voila/tornado/contentshandler.py
Due: none

Undo changes to log.* due to performance issues
  voila/app.py
  voila/notebook_renderer.py
Due: none

Update deps
  yarn.lock
Due: none

Add util polyfil
  packages/voila/package.json
  packages/voila/webpack.config.js
  yarn.lock
Due: prettier, eslint

Fix Windows CI (#1443)
  packages/voila/package.json
  packages/voila/webpack.config.js
  yarn.lock
Due: prettier, eslint

Update releaser workflows
  .github/workflows/prep-release.yml
  .github/workflows/publish-release.yml
Due: none

uncomment silent
  .github/workflows/prep-release.yml
Due: none

Update releaser workflows (#1453)
  .github/workflows/prep-release.yml
  .github/workflows/publish-release.yml
Due: none

Merge pull request from GHSA-2q59-h24c-w6fg
  voila/app.py
Due: none

GHSA-2q59-h24c-w6fg
  voila/app.py
Due: none

Publish 0.5.6
  CHANGELOG.md
  packages/jupyterlab-preview/package.json
  packages/voila/package.json
  voila/_version.py
  yarn.lock
Due: prettier

Release 0.4.4
  voila/_version.py
Due: none

Release 0.3.8
  voila/_version.py
Due: none

Release 0.2.17
  voila/_version.py
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Update CHANGELOG (#1456)
  CHANGELOG.md
Due: none

Disambiguate voilà frontend via html data attributes
  share/jupyter/voila/templates/base/page.html
  share/jupyter/voila/templates/classic/index.html.j2
  share/jupyter/voila/templates/lab/index.html.j2
  share/jupyter/voila/templates/reveal/index.html.j2
Due: none

Disambiguate voilà frontend via html data attributes (#1457)
  share/jupyter/voila/templates/base/page.html
  share/jupyter/voila/templates/classic/index.html.j2
  share/jupyter/voila/templates/lab/index.html.j2
  share/jupyter/voila/templates/reveal/index.html.j2
Due: none

bump nbclient upper bound
  pyproject.toml
Due: none

Remove upper bound
  pyproject.toml
Due: none

allow nbclient 0.10 (#1462)
  pyproject.toml
Due: none

wip
  voila/server_extension.py
  voila/static_file_handler.py
Due: none

fix documentation for voila.json location
  docs/customize.md
Due: none

fix documentation for voila.json location (#1470)
  docs/customize.md
Due: none

allow disable iframe sandbox mode
  packages/jupyterlab-preview/src/preview.tsx
  voila/static_file_handler.py
Due: prettier, eslint

Update config loading logic
  voila/server_extension.py
Due: none

Get binder working again
  .binder/environment.yml
  .binder/postBuild
Due: none

Remove sandbox switch button
  packages/jupyterlab-preview/src/preview.tsx
Due: prettier, eslint

Remove sandbox option from voila preview iframe
  packages/jupyterlab-preview/src/preview.tsx
Due: prettier, eslint

Fix Voila IFrame renderer (#1469)
  packages/jupyterlab-preview/src/preview.tsx
  voila/server_extension.py
Due: prettier, eslint
