Repository voila-dashboards/voila: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: yarn run prettier
  language: node

eslint:
  name: eslint
  entry: yarn run eslint
  language: node

Using the same snapshots for both render mode
  packages/voila/src/plugins/widget/tools.ts
  ui-tests/tests/voila.test.ts
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-basics-classic-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-basics-dark-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-basics-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-basics-miami-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-bokeh-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-bqplot-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-gridspecLayout-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-interactive-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-ipympl-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-mimerenderers-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-multiple-widgets-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-query-strings-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-reveal-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-voila-tree-classic-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-voila-tree-dark-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-voila-tree-light-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-voila-tree-miami-linux.png
  ui-tests/tests/voila.test.ts-snapshots/progressive-rendering-yaml-linux.png
Due: prettier, eslint

Update doc
  docs/customize.md
Due: none

Clean up
  .github/workflows/update_galata_references.yaml
  packages/voila/src/plugins/widget/plugins.ts
Due: prettier, eslint

Update snapshots p2
  .github/workflows/packaging.yml
  ui-tests/playwright.config.js
  ui-tests/tests/voila.test.ts
  ui-tests/tests/voila.test.ts-snapshots/bokeh-linux.png
  ui-tests/tests/voila.test.ts-snapshots/gridspecLayout-linux.png
  ui-tests/tests/voila.test.ts-snapshots/ipympl-linux.png
  ui-tests/tests/voila.test.ts-snapshots/voila-tree-classic-linux.png
  ui-tests/tests/voila.test.ts-snapshots/voila-tree-dark-linux.png
  ui-tests/tests/voila.test.ts-snapshots/voila-tree-light-linux.png
Due: prettier, eslint

Raise error if jupyter_server 1 with progressive rendering
  voila/app.py
  voila/server_extension.py
  voila/tornado/execution_request_handler.py
Due: none

Exclude invalid combination from CI
  .github/workflows/ui-tests.yml
Due: none

0.4.x: Fix markdown rendering logic (#1491)
  .gitignore
  package.json
  packages/voila/package.json
  packages/voila/src/index.ts
  packages/voila/src/manager.ts
  packages/voila/src/mathjax.ts
  share/jupyter/voila/templates/base/static/main.js
  share/jupyter/voila/templates/classic/index.html.j2
  share/jupyter/voila/templates/lab/index.html.j2
  share/jupyter/voila/templates/reveal/index.html.j2
  ui-tests/tests/voila.test.ts
  yarn.lock
Due: prettier, eslint

Release 0.4.6
  packages/jupyterlab-preview/package.json
  packages/voila/package.json
  voila/_version.py
Due: prettier

ipywidgets 7 support
  .github/workflows/ui-tests.yml
  packages/voila/package.json
  packages/voila/src/ipywidgets7.ts
  packages/voila/src/main.ts
  packages/voila/src/sharedscope.ts
  packages/voila/webpack.config.js
  pyproject.toml
  yarn.lock
Due: prettier, eslint

make page_config_hook optional
  voila/app.py
  voila/handler.py
  voila/tornado/treehandler.py
  voila/utils.py
  voila/voila_kernel_manager.py
Due: none

Draft two shared bundles
  .gitignore
  packages/voila/package.json
  packages/voila/src/ipywidgets7shared.ts
  packages/voila/src/ipywidgets8.ts
  packages/voila/src/ipywidgets8shared.ts
  packages/voila/src/main.ts
  packages/voila/webpack.config.js
  yarn.lock
Due: prettier, eslint

Update voila/app.py
  voila/app.py
Due: none

add server extension hoooks
  voila/server_extension.py
Due: none

add page_config_hook documentation
  docs/customize.md
Due: none

document hook
  docs/customize.md
Due: none

Move hooks to VoilaConfiguration
  docs/customize.md
  voila/app.py
  voila/configuration.py
  voila/handler.py
  voila/notebook_renderer.py
  voila/server_extension.py
  voila/tornado/treehandler.py
  voila/voila_kernel_manager.py
Due: none

Add test
  docs/customize.md
  tests/app/page_config_hook_test.py
  voila/app.py
Due: none

Bump galata
  ui-tests/package.json
  ui-tests/yarn.lock
Due: prettier

Fix CI
  .github/workflows/main.yml
  .github/workflows/ui-tests.yml
Due: none

Support progressive rendering (#1489)
  .github/workflows/check-release.yml
  .github/workflows/main.yml
  .github/workflows/packaging.yml
  .github/workflows/ui-tests.yml
  .github/workflows/update_galata_references.yaml
  docs/customize.md
  packages/voila/src/app.ts
  packages/voila/src/plugins/widget/index.ts
  packages/voila/src/plugins/widget/manager.ts
  packages/voila/src/plugins/widget/plugins.ts
  packages/voila/src/plugins/widget/tools.ts
  packages/voila/src/voilaplugins.ts
  share/jupyter/voila/templates/base/spinner.macro.html.j2
  share/jupyter/voila/templates/base/voila_setup.macro.html.j2
  tests/app/conftest.py
  tests/app/progressive_rendering_activation_test.py
  tests/app/progressive_rendering_test.py
  ui-tests/package.json
  ui-tests/playwright.config.js
  ui-tests/tests/voila.test.ts
  ui-tests/tests/voila.test.ts-snapshots/404-dark-linux.png
  ui-tests/tests/voila.test.ts-snapshots/404-linux.png
  ui-tests/tests/voila.test.ts-snapshots/bokeh-linux.png
  ui-tests/tests/voila.test.ts-snapshots/gridspecLayout-linux.png
  ui-tests/tests/voila.test.ts-snapshots/ipympl-linux.png
  ui-tests/tests/voila.test.ts-snapshots/voila-tree-classic-linux.png
  ui-tests/tests/voila.test.ts-snapshots/voila-tree-dark-linux.png
  ui-tests/tests/voila.test.ts-snapshots/voila-tree-light-linux.png
  ui-tests/yarn.lock
  voila/app.py
  voila/configuration.py
  voila/handler.py
  voila/notebook_renderer.py
  voila/request_info_handler.py
  voila/server_extension.py
  voila/tornado/execution_request_handler.py
  voila/tornado/kernel_websocket_handler.py
  voila/utils.py
Due: prettier, eslint

Fix rebasing issue
  voila/configuration.py
Due: none

Custom page config hook (#1495)
  docs/customize.md
  tests/app/page_config_hook_test.py
  voila/app.py
  voila/configuration.py
  voila/handler.py
  voila/notebook_renderer.py
  voila/tornado/treehandler.py
  voila/utils.py
  voila/voila_kernel_manager.py
Due: none

Widgets managers
  pyproject.toml
  voila/__init__.py
  voila/app.py
  voila/server_extension.py
  voila/utils.py
Due: none

Iterate
  packages/widgets_manager7/src/index.ts
  packages/widgets_manager8/src/index.ts
  yarn.lock
Due: prettier, eslint

Something that compiles
  .gitignore
  package.json
  packages/widgets_manager7/package.json
  packages/widgets_manager7/src/index.ts
  packages/widgets_manager7/src/manager.ts
  packages/widgets_manager7/tsconfig.json
  packages/widgets_manager8/src/index.ts
  yarn.lock
Due: prettier, eslint

Iterate
  packages/voila/src/plugins/outputs/tools.ts
  packages/widgets_manager7/package.json
  packages/widgets_manager8/package.json
  yarn.lock
Due: prettier, eslint

Iterate
  packages/voila/package.json
  packages/voila/src/main.ts
  packages/voila/src/tools.ts
  packages/voila/src/voilaplugins.ts
Due: prettier, eslint

Polling in shared scope
  packages/voila/package.json
  yarn.lock
Due: prettier

Run linter
  packages/voila/src/main.ts
  packages/voila/src/plugins/outputs/index.ts
  packages/widgets_manager7/src/index.ts
  packages/widgets_manager7/src/manager.ts
  packages/widgets_manager7/tsconfig.json
  packages/widgets_manager8/src/index.ts
  packages/widgets_manager8/src/manager.ts
  packages/widgets_manager8/tsconfig.json
Due: prettier, eslint

Iterate
  packages/voila/src/main.ts
Due: prettier, eslint

Iterate
  packages/voila/src/app.ts
  packages/voila/src/index.ts
  packages/voila/src/plugins/outputs/index.ts
  packages/voila/src/plugins/outputs/plugins.ts
  packages/voila/src/plugins/outputs/renderedcells.ts
  packages/voila/src/plugins/outputs/tools.ts
  packages/voila/src/sharedscope.ts
  packages/voila/src/tree.ts
  packages/voila/src/voilaplugins.ts
  packages/widgets_manager7/README.md
  packages/widgets_manager7/package.json
  packages/widgets_manager7/src/index.ts
  packages/widgets_manager7/src/manager.ts
  packages/widgets_manager7/tsconfig.json
  packages/widgets_manager8/README.md
  packages/widgets_manager8/package.json
  packages/widgets_manager8/src/index.ts
  packages/widgets_manager8/src/manager.ts
  packages/widgets_manager8/tsconfig.json
  voila/utils.py
Due: prettier, eslint

Iterate
  .eslintignore
  .prettierignore
  packages/jupyterlab-preview/package.json
Due: prettier

statedb in sharedscope
  packages/voila/package.json
  yarn.lock
Due: prettier

console in shared scope
  packages/voila/package.json
  yarn.lock
Due: prettier

Figure out from the server the widgets version that should be injected
  packages/voila/src/main.ts
  packages/voila/src/plugins/outputs/plugins.ts
  packages/voila/src/tools.ts
  packages/widgets_manager7/src/index.ts
  packages/widgets_manager7/src/manager.ts
  voila/utils.py
Due: prettier, eslint

Update artifacts names
  .github/workflows/ui-tests.yml
Due: none

Linter
  packages/voila/src/app.ts
Due: prettier, eslint

Add docs about the new labextensions path
  docs/customize.md
Due: none

Working solution with ipywidgets 7
  packages/voila/src/main.ts
  packages/voila/src/plugins/outputs/plugins.ts
  packages/widgets_manager7/src/index.ts
  packages/widgets_manager7/src/manager.ts
Due: prettier, eslint

Fix progressive rendering logic for ipywidgets 7
  packages/widgets_manager7/src/manager.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
