Repository voila-dashboards/voila: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

ci:
  # pre-commit.ci will open PRs updating our hooks once a month
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint]

repos:
  # Autoformat and linting, misc. details
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
        exclude: galata/.*-snapshots
      - id: check-case-conflict
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: .bumpversion.cfg

  # Autoformat: Python code
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.287
    hooks:
      - id: ruff
        args: ['--fix']

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'yarn run prettier'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'yarn run eslint'
        language: node
        types_or: [ts, tsx, javascript, jsx]

Add Jupyverse contents
  voila/app.py
  voila/jupyverse/LICENSE
  voila/jupyverse/README.md
  voila/jupyverse/fps_voila/__init__.py
  voila/jupyverse/fps_voila/main.py
  voila/jupyverse/fps_voila/routes.py
  voila/jupyverse/pyproject.toml
Due: none

Update jupyter-widgets front-end packages
  packages/voila/package.json
  yarn.lock
Due: prettier

Update jupyter-widgets front-end packages (#1393)
  packages/voila/package.json
  yarn.lock
Due: prettier

Publish 0.5.3
  CHANGELOG.md
  packages/jupyterlab-preview/package.json
  packages/voila/package.json
  voila/_version.py
Due: prettier

Separate jupyter widgets manager extension
  .github/workflows/build.yml
  .github/workflows/packaging.yml
  .gitignore
  packages/voila/package.json
  packages/voila/src/index.ts
  packages/voila/src/main.ts
  packages/voila/src/plugins/index.ts
  packages/voila/src/plugins/outputs_rendering.ts
  packages/voila/src/plugins/widget.ts
  packages/voila/src/sharedscope.ts
  packages/voila/src/tree.ts
  packages/widgets-manager/README.md
  packages/widgets-manager/package.json
  packages/widgets-manager/schema/plugin.json
  packages/widgets-manager/src/index.ts
  packages/widgets-manager/tsconfig.json
  pyproject.toml
  voila/__init__.py
  yarn.lock
Due: prettier, eslint

Fix README
  packages/widgets-manager/README.md
Due: none

Make sure to install latest playwright before browser check
  .github/workflows/build.yml
Due: none

Review
  packages/widgets-manager/package.json
  packages/widgets-manager/schema/plugin.json
Due: prettier

Update nodejs
  .github/workflows/ui-tests.yml
Due: none

Separate Voila extensions from lab extensions in the path
  pyproject.toml
  voila/app.py
  voila/server_extension.py
  voila/utils.py
Due: none

Remove voila-dashboards dependency
  packages/widgets-manager/package.json
  packages/widgets-manager/src/index.ts
  yarn.lock
Due: prettier, eslint

Fix extension path for develop command
  voila/__init__.py
Due: none

Fix CI workflow
  .github/workflows/build.yml
  .github/workflows/packaging.yml
Due: none

Embed jupyterlab-widgets plugins
  packages/voila/src/main.ts
  packages/voila/src/tree.ts
  voila/utils.py
Due: prettier, eslint

Update node
  .github/workflows/ui-tests.yml
Due: none

Embed all `jupyterlab-manager` plugins (#1396)
  .github/workflows/ui-tests.yml
  packages/voila/src/main.ts
  packages/voila/src/tree.ts
  voila/utils.py
Due: prettier, eslint

Publish 0.5.4
  CHANGELOG.md
  packages/jupyterlab-preview/package.json
  packages/voila/package.json
  voila/_version.py
Due: prettier

adds ploomber cloud deploy option
  docs/deploy.md
Due: none

adds ploomber cloud deploy option (#1401)
  docs/deploy.md
Due: none

Allow for custom kernel spec manager class
  voila/app.py
  voila/configuration.py
Due: none

Added startup_timeout config
  docs/customize.md
  voila/app.py
  voila/configuration.py
  voila/execute.py
Due: none

Allow for custom kernel_spec_manager class (#1404)
  docs/customize.md
  voila/app.py
  voila/configuration.py
  voila/execute.py
Due: none

use mathjax-extension
  packages/voila/package.json
  packages/voila/src/main.ts
  packages/voila/src/plugins/widget.ts
  packages/voila/style/index.js
  share/jupyter/voila/templates/classic/index.html.j2
  share/jupyter/voila/templates/lab/index.html.j2
  share/jupyter/voila/templates/reveal/index.html.j2
  yarn.lock
Due: prettier, eslint

Support both mathjax 2 and 3
  packages/voila/package.json
  packages/voila/src/main.ts
  packages/voila/src/tools.ts
  packages/voila/style/index.js
  voila/app.py
  yarn.lock
Due: prettier, eslint

Fix eslint
  .github/workflows/main.yml
  docs/contribute.md
  lerna.json
  package.json
  packages/jupyterlab-preview/src/preview.tsx
  tsconfig.eslint.json
  yarn.lock
Due: prettier, eslint

Test only Mathjax2
  ui-tests/package.json
Due: prettier

Load mathjax manually
  packages/voila/src/index.ts
  packages/voila/src/plugins/widget/index.ts
  packages/voila/src/plugins/widget/renderedcells.ts
  ui-tests/yarn.lock
Due: prettier, eslint

Use mathjax-extension to render latex in markdown cells (#1410)
  .github/workflows/main.yml
  docs/contribute.md
  lerna.json
  package.json
  packages/jupyterlab-preview/src/preview.tsx
  packages/voila/package.json
  packages/voila/src/index.ts
  packages/voila/src/main.ts
  packages/voila/src/plugins/widget/index.ts
  packages/voila/src/plugins/widget/renderedcells.ts
  packages/voila/src/tools.ts
  packages/voila/style/index.js
  share/jupyter/voila/templates/classic/index.html.j2
  share/jupyter/voila/templates/lab/index.html.j2
  share/jupyter/voila/templates/reveal/index.html.j2
  tsconfig.eslint.json
  ui-tests/package.json
  ui-tests/yarn.lock
  voila/app.py
  yarn.lock
Due: prettier, eslint

Publish 0.5.5
  CHANGELOG.md
  packages/jupyterlab-preview/package.json
  packages/voila/package.json
  voila/_version.py
  yarn.lock
Due: prettier

Add support for es modules, fixes #1413
  voila/utils.py
Due: none

Add support for es modules, fixes #1413 (#1414)
  voila/utils.py
Due: none

Document an Apache 2 deployment
  docs/deploy.md
Due: none

fmt
  docs/deploy.md
Due: none

Documentation: Adds deployment instructions for Apache2 as reverse proxy (#1418)
  docs/deploy.md
Due: none

Add Tunnelmole as an open source tunneling option
  docs/deploy.md
Due: none

Remove duplicate logo in the main docs page
  docs/index.md
Due: none

Linting
  docs/deploy.md
Due: none

Remove duplicate logo in the main docs page (#1421)
  docs/deploy.md
  docs/index.md
Due: none

Update logo URL
  README.md
Due: none
