Repository voila-dashboards/voila: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: yarn run prettier
  language: node

eslint:
  name: eslint
  entry: yarn run eslint
  language: node

format
  docs/customize.md
Due: none

Allow specifying `extra_labextensions_path` (#1542)
  docs/customize.md
  voila/app.py
  voila/configuration.py
  voila/server_extension.py
  voila/utils.py
Due: none

Server extension: Fix merging with local config
  voila/server_extension.py
Due: none

Server extension: Fix merging with local config (#1543)
  voila/server_extension.py
Due: none

Publish 0.5.11
  CHANGELOG.md
  packages/jupyterlab-preview/package.json
  packages/voila/package.json
  packages/widgets_manager7/package.json
  packages/widgets_manager8/package.json
  voila/_version.py
  yarn.lock
Due: prettier

Add JupyterLab 4 classifier
  pyproject.toml
Due: none

Add JupyterLab 4 classifier (#1546)
  pyproject.toml
Due: none

Drop `ifaxity/wait-on-action@v1`
  .github/workflows/ui-tests.yml
  ui-tests/playwright.config.js
Due: prettier, eslint

macos-13 is no more
  .github/workflows/main.yml
  .github/workflows/packaging.yml
Due: none

try macos-15-intel
  .github/workflows/main.yml
Due: none

Rotate Python
  .github/workflows/main.yml
  .github/workflows/packaging.yml
  pyproject.toml
Due: none

pyzmq needed?
  .github/workflows/main.yml
Due: none

handle new jupyter-core
  voila/app.py
Due: none

try xeus-cpp
  .github/workflows/main.yml
  README.md
  docs/deploy.md
  tests/app/execute_cpp_test.py
  tests/app/serve_directory_test.py
  tests/notebooks/print.xcpp
  tests/notebooks/print_cpp.ipynb
  tests/server/execute_cpp_test.py
  voila/configuration.py
Due: none

try with 3.13
  .github/workflows/main.yml
Due: none

Fix CI (#1549)
  .github/workflows/main.yml
  .github/workflows/packaging.yml
  .github/workflows/ui-tests.yml
  README.md
  docs/deploy.md
  pyproject.toml
  tests/app/execute_cpp_test.py
  tests/app/serve_directory_test.py
  tests/notebooks/print.xcpp
  tests/notebooks/print_cpp.ipynb
  tests/server/execute_cpp_test.py
  ui-tests/playwright.config.js
  voila/app.py
  voila/configuration.py
Due: prettier, eslint

Update galata bot permission check
  .github/workflows/update_galata_references.yaml
Due: none

Update galata bot permission check (#1551)
  .github/workflows/update_galata_references.yaml
Due: none

Fix extra labextensions path
  docs/customize.md
  voila/utils.py
Due: none

Fix extra labextensions path (#1552)
  docs/customize.md
  voila/utils.py
Due: none

update menu and tooltip text
  packages/jupyterlab-preview/src/index.ts
Due: prettier, eslint

Export IVoilaPreviewTracker
  packages/jupyterlab-preview/src/index.ts
Due: prettier, eslint

Export IVoilaPreviewTracker (#1556)
  packages/jupyterlab-preview/src/index.ts
Due: prettier, eslint

Publish 0.5.12
  CHANGELOG.md
  packages/jupyterlab-preview/package.json
  packages/voila/package.json
  packages/widgets_manager7/package.json
  packages/widgets_manager8/package.json
  voila/_version.py
  yarn.lock
Due: prettier

Point to GH gallery page (#1558)
  README.md
Due: none

Pin jupyterlab in build for now
  lerna.json
  pyproject.toml
Due: prettier

Fix rtd
  readthedocs.yml
Due: none

Switch to jupyter-builder
  .github/workflows/build.yml
  .github/workflows/main.yml
  .github/workflows/packaging.yml
  .github/workflows/ui-tests.yml
  .github/workflows/update_galata_references.yaml
  docs/contribute.md
  packages/jupyterlab-preview/package.json
  packages/voila/package.json
  packages/widgets_manager7/package.json
  packages/widgets_manager8/package.json
  pyproject.toml
Due: prettier

Update lock
  yarn.lock
Due: none

Hey
  packages/voila/webpack.config.js
Due: prettier, eslint

Up
  packages/voila/package.json
  packages/voila/webpack.config.js
  yarn.lock
Due: prettier, eslint

Rename config
  packages/voila/rspack.config.js
Due: prettier, eslint

Update
  .binder/postBuild
  .github/workflows/build.yml
  .github/workflows/ui-tests.yml
  .github/workflows/update_galata_references.yaml
  .yarnrc.yml
  docs/contribute.md
  lerna.json
  packages/jupyterlab-preview/package.json
  packages/voila/package.json
  packages/widgets_manager7/package.json
  packages/widgets_manager8/package.json
  pyproject.toml
  scripts/bump-version.py
  yarn.lock
Due: prettier

Try bumping pre-commit
  .pre-commit-config.yaml
Due: none

Update node
  .github/workflows/main.yml
Due: none

pre-commit nonsense
  .pre-commit-config.yaml
Due: none

wat
  .pre-commit-config.yaml
Due: none

Try bumping lab-manager
  packages/widgets_manager8/package.json
  yarn.lock
Due: prettier

Update lab packages
  packages/jupyterlab-preview/package.json
  packages/voila/package.json
  yarn.lock
Due: prettier

Forcing latest jupyter-builder
  pyproject.toml
Due: none

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
