Repository voila-dashboards/voila: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: yarn run prettier
  language: node

eslint:
  name: eslint
  entry: yarn run eslint
  language: node

Publish 0.5.7
  CHANGELOG.md
  packages/jupyterlab-preview/package.json
  packages/voila/package.json
  voila/_version.py
Due: prettier

Remove mock
  pyproject.toml
  tests/app/execute_test.py
Due: none

Remove old urllib imports
  voila/app.py
Due: none

Get binder working again (#1471)
  .binder/environment.yml
  .binder/postBuild
Due: none

Remove mock (#1476)
  pyproject.toml
  tests/app/execute_test.py
Due: none

Remove old urllib imports (#1477)
  voila/app.py
Due: none

ipywidgets 7 support
  packages/voila/package.json
  packages/voila/src/ipywidgets7.ts
  packages/voila/src/main.ts
  packages/voila/src/tools.ts
  voila/utils.py
  yarn.lock
Due: prettier, eslint

Fix build
  packages/voila/webpack.config.js
Due: prettier, eslint

Linter
  packages/voila/webpack.config.js
Due: prettier, eslint

Iterate
  packages/voila/package.json
  packages/voila/src/ipywidgets8.ts
  packages/voila/src/main.ts
  packages/voila/src/sharedscope.ts
  packages/voila/src/tools.ts
  packages/voila/webpack.config.js
  yarn.lock
Due: prettier, eslint

UI tests for ipywidgets 7
  .github/workflows/ui-tests.yml
  pyproject.toml
Due: none

Support for widgets 7
  packages/voila/package.json
  packages/voila/src/manager.ts
  packages/voila/style/index.css
  tsconfigbase.json
  yarn.lock
Due: prettier, eslint

Bring back try/catch but make it verbose
  packages/voila/src/manager.ts
Due: prettier, eslint

Lazy load CSS
  packages/voila/src/manager.ts
  packages/voila/style/index.css
Due: prettier, eslint

Custom widgets working
  packages/voila/src/manager.ts
Due: prettier, eslint

Add comments
  packages/voila/src/manager.ts
Due: prettier, eslint

Gitignore entry for yarn cache
  .gitignore
Due: none

Linter
  packages/voila/src/manager.ts
Due: prettier, eslint

Linter
  voila/app.py
Due: none

CI: Update node
  .github/workflows/ui-tests.yml
Due: none

Remove ipyvolume from testing env
  requirements-visual-test.txt
  ui-tests/tests/voila.test.ts
Due: prettier, eslint

Pin jupyter-client in ui-tests
  requirements-visual-test.txt
Due: none

Remove interactive test
  requirements-visual-test.txt
  ui-tests/tests/voila.test.ts
Due: prettier, eslint

Drop unused async keyword
  packages/voila/src/manager.ts
Due: prettier, eslint

Oups
  .github/workflows/ui-tests.yml
Due: none

0.4.x: Lazy loading of widgets packages, for ipywidgets 7 and 8 support (#1482)
  .github/workflows/ui-tests.yml
  .gitignore
  packages/voila/package.json
  packages/voila/src/manager.ts
  packages/voila/style/index.css
  pyproject.toml
  requirements-visual-test.txt
  tsconfigbase.json
  ui-tests/tests/voila.test.ts
  voila/app.py
  yarn.lock
Due: prettier, eslint

Release 0.4.5
  packages/jupyterlab-preview/package.json
  packages/voila/package.json
  pyproject.toml
  voila/_version.py
Due: prettier

0.4.x: Fix CI
  .github/workflows/main.yml
Due: none

Update workflow
  .github/workflows/ui-tests.yml
Due: none

Fix packaging workflow
  .github/workflows/packaging.yml
Due: none

Iterate
  .github/workflows/packaging.yml
Due: none

0.4.x: Fix (part of the) CI (#1493)
  .github/workflows/main.yml
  .github/workflows/packaging.yml
  .github/workflows/ui-tests.yml
Due: none

Iterate
  yarn.lock
Due: none

Iterate
  share/jupyter/voila/templates/classic/index.html.j2
  share/jupyter/voila/templates/lab/index.html.j2
  share/jupyter/voila/templates/reveal/index.html.j2
Due: none

Fix markdown rendering logic
  .gitignore
  package.json
  packages/voila/package.json
  packages/voila/src/index.ts
  share/jupyter/voila/templates/base/static/main.js
  yarn.lock
Due: prettier, eslint

Iterate
  packages/voila/src/manager.ts
  share/jupyter/voila/templates/base/static/main.js
Due: prettier, eslint

Iterate
  packages/voila/package.json
  packages/voila/src/index.ts
  packages/voila/src/mathjax.ts
  packages/voila/style/index.css
  share/jupyter/voila/templates/base/static/main.js
Due: prettier, eslint

Iterate
  packages/voila/src/index.ts
  packages/voila/src/manager.ts
  share/jupyter/voila/templates/base/static/main.js
Due: prettier, eslint

set draft of customlabextension
  voila/configuration.py
  voila/handler.py
  voila/utils.py
Due: none

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
