Repository voila-dashboards/voila: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: yarn run prettier
  language: node

eslint:
  name: eslint
  entry: yarn run eslint
  language: node

Patch backbone
  .yarn/patches/backbone-npm-1.4.0-054c19a6ab.patch
  package.json
  packages/voila/src/tools.ts
  packages/widgets_manager8/package.json
  yarn.lock
Due: prettier, eslint

Use proper tool for creating the environment
  .github/workflows/main.yml
  .github/workflows/ui-tests.yml
  .github/workflows/update_galata_references.yaml
  dev-environment.yml
Due: none

Fixing
  .github/workflows/main.yml
  .github/workflows/ui-tests.yml
Due: none

Update playwright and such
  ui-tests/package.json
  ui-tests/yarn.lock
Due: prettier

he
  .github/workflows/main.yml
  dev-environment.yml
Due: none

Pin jupyterlab in build for now
  lerna.json
  pyproject.toml
Due: prettier

Fix ipywidgets 8 support in reveal template
  .gitignore
  package.json
  packages/voila/package.json
  packages/voila/src/revealbootstrap.ts
  packages/voila/webpack.config.js
  share/jupyter/voila/templates/reveal/index.html.j2
  yarn.lock
Due: prettier, eslint

Commit patch
  .yarn/patches/reveal.js-npm-6.0.1-1c7308d1ac.patch
Due: none

Fix pre-commit
  .pre-commit-config.yaml
Due: none

Up lock
  yarn.lock
Due: none

Make linter happ
  packages/voila/src/revealbootstrap.ts
Due: prettier, eslint

Fixing rtd
  readthedocs.yml
Due: none

Fix docs env
  docs/environment.yml
Due: none

Patching the reveal template to fix ipywidgets 8 support there + fix CI (#1561)
  .gitignore
  .pre-commit-config.yaml
  .yarn/patches/reveal.js-npm-6.0.1-1c7308d1ac.patch
  docs/environment.yml
  lerna.json
  package.json
  packages/voila/package.json
  packages/voila/src/revealbootstrap.ts
  packages/voila/webpack.config.js
  pyproject.toml
  readthedocs.yml
  share/jupyter/voila/templates/reveal/index.html.j2
  yarn.lock
Due: prettier, eslint

Trust notebook on rendering
  packages/jupyterlab-preview/src/index.ts
  packages/jupyterlab-preview/src/preview.tsx
Due: prettier, eslint

refactor
  packages/jupyterlab-preview/src/index.ts
  packages/jupyterlab-preview/src/preview.tsx
Due: prettier, eslint

request confirmation before rendering untrusted notebook
  packages/jupyterlab-preview/src/preview.tsx
Due: prettier, eslint

request confirmation before rendering untrusted notebook (#1560)
  packages/jupyterlab-preview/src/index.ts
  packages/jupyterlab-preview/src/preview.tsx
Due: prettier, eslint

update menu and tooltip text
  packages/jupyterlab-preview/src/index.ts
Due: prettier, eslint

Merge commit from fork
  voila/paths.py
Due: none

Merge commit from fork
  tests/app/static_file_handler_test.py
  voila/static_file_handler.py
Due: none

no trace
  .github/workflows/main.yml
Due: none

Publish 0.5.13
  CHANGELOG.md
  packages/jupyterlab-preview/package.json
  packages/voila/package.json
  packages/widgets_manager7/package.json
  packages/widgets_manager8/package.json
  voila/_version.py
  yarn.lock
Due: prettier

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
