Repository voila-dashboards/voila: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

ci:
  # pre-commit.ci will open PRs updating our hooks once a month
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint]

repos:
  # Autoformat and linting, misc. details
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
        exclude: galata/.*-snapshots
      - id: check-case-conflict
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: .bumpversion.cfg

  # Autoformat: Python code
  - repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
      - id: black

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.292
    hooks:
      - id: ruff
        args: ['--fix']

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'yarn run prettier'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'yarn run eslint'
        language: node
        types_or: [ts, tsx, javascript, jsx]

Linting
  packages/voila/src/plugins/outputs/plugins.ts
  packages/widgets_manager7/src/index.ts
  packages/widgets_manager7/src/manager.ts
Due: prettier, eslint

arf
  .github/workflows/ui-tests.yml
Due: none

Fix report name + output widget
  .github/workflows/ui-tests.yml
  packages/widgets_manager7/src/index.ts
Due: prettier, eslint

UI-tests with ipywidgets 7
  .github/workflows/ui-tests.yml
  pyproject.toml
Due: none

Try fixing ui-tests for 7
  ui-tests/tests/voila.test.ts
Due: prettier, eslint

Artifacts names
  .github/workflows/ui-tests.yml
Due: none

Remove any
  packages/voila/package.json
  packages/voila/src/app.ts
Due: prettier, eslint

Add backward compatibility for ipywidgets 7 (#1501)
  .eslintignore
  .github/workflows/ui-tests.yml
  .gitignore
  .prettierignore
  docs/customize.md
  package.json
  packages/jupyterlab-preview/package.json
  packages/voila/package.json
  packages/voila/src/app.ts
  packages/voila/src/index.ts
  packages/voila/src/main.ts
  packages/voila/src/plugins/outputs/index.ts
  packages/voila/src/plugins/outputs/plugins.ts
  packages/voila/src/plugins/outputs/renderedcells.ts
  packages/voila/src/plugins/outputs/tools.ts
  packages/voila/src/plugins/widget/index.ts
  packages/voila/src/plugins/widget/plugins.ts
  packages/voila/src/sharedscope.ts
  packages/voila/src/tree.ts
  packages/voila/src/voilaplugins.ts
  packages/widgets_manager7/README.md
  packages/widgets_manager7/package.json
  packages/widgets_manager7/src/index.ts
  packages/widgets_manager7/src/manager.ts
  packages/widgets_manager7/tsconfig.json
  packages/widgets_manager8/README.md
  packages/widgets_manager8/package.json
  packages/widgets_manager8/src/index.ts
  packages/widgets_manager8/src/manager.ts
  packages/widgets_manager8/tsconfig.json
  pyproject.toml
  ui-tests/tests/voila.test.ts
  voila/__init__.py
  voila/app.py
  voila/server_extension.py
  voila/utils.py
  yarn.lock
Due: prettier, eslint

Publish 0.5.8
  CHANGELOG.md
  packages/jupyterlab-preview/package.json
  packages/voila/package.json
  packages/widgets_manager7/package.json
  packages/widgets_manager8/package.json
  voila/_version.py
  yarn.lock
Due: prettier

Remove `any` type
  packages/voila/src/plugins/outputs/tools.ts
Due: prettier, eslint

Remove `any` type (#1502)
  packages/voila/src/plugins/outputs/tools.ts
Due: prettier, eslint

Update widgets 7 packages
  package.json
  packages/widgets_manager7/package.json
  yarn.lock
Due: prettier

Update widgets 7 packages (#1504)
  package.json
  packages/widgets_manager7/package.json
  yarn.lock
Due: prettier

Drop Python 3.8
  .github/workflows/main.yml
  .github/workflows/packaging.yml
  .github/workflows/update_galata_references.yaml
  pyproject.toml
Due: none

try fix mamba
  .github/workflows/main.yml
Due: none

use micro
  .github/workflows/main.yml
Due: none

Link to the Jupyter Zulip
  README.md
Due: none

fix setup mamba
  .github/workflows/main.yml
Due: none

env name
  .github/workflows/main.yml
Due: none

fix something
  .github/workflows/main.yml
  .github/workflows/packaging.yml
  pyproject.toml
  readthedocs.yml
Due: none

back to macos 13
  .github/workflows/main.yml
  .github/workflows/packaging.yml
Due: none

address unhappy mamba people
  .github/workflows/main.yml
Due: none

fix setup mamba (#1526)
  .github/workflows/main.yml
  .github/workflows/packaging.yml
  pyproject.toml
  readthedocs.yml
Due: none

Link to the Jupyter Zulip (#1524)
  README.md
Due: none

Set JPY_SESSION_NAME to the absolute OS path of the current notebook (same as jupyer_server does)
  voila/handler.py
  voila/utils.py
Due: none

Fix small typo
  voila/treehandler.py
Due: none

Fix docs build
  readthedocs.yml
Due: none

Fix small typo (#1534)
  voila/treehandler.py
Due: none

Fix server extension configuration handling
  voila/server_extension.py
Due: none

Fix server extension configuration handling (#1535)
  voila/server_extension.py
Due: none

Publish 0.5.9
  CHANGELOG.md
  packages/jupyterlab-preview/package.json
  packages/voila/package.json
  packages/widgets_manager7/package.json
  packages/widgets_manager8/package.json
  voila/_version.py
  yarn.lock
Due: prettier

Don't merge the config if not needed
  voila/server_extension.py
Due: none

Missing import
  voila/server_extension.py
Due: none

Don't merge the config if not needed (#1536)
  voila/server_extension.py
Due: none

Publish 0.5.10
  CHANGELOG.md
  packages/jupyterlab-preview/package.json
  packages/voila/package.json
  packages/widgets_manager7/package.json
  packages/widgets_manager8/package.json
  voila/_version.py
  yarn.lock
Due: prettier

fix(websockets): add ping responses to avoid timeouts from tornado websockets
  packages/voila/src/plugins/outputs/plugins.ts
  packages/voila/src/plugins/outputs/tools.ts
Due: prettier, eslint

fix: use spawn_callback to avoid blocking socket ping/pongs
  voila/tornado/execution_request_handler.py
Due: none

Allow specifying extra_labextensions_path
  voila/app.py
  voila/configuration.py
  voila/server_extension.py
  voila/utils.py
Due: none

Add docs
  docs/customize.md
Due: none
